*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #141ac9;
    margin: 0;
    padding: 0;
}

h1{
    margin-bottom: 10px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
}
.search{
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #0d5097;
    color: #fff;
}

#weather-info {
    margin-top: 10px;
}



